.col-title{
    position: absolute;
    top: 37%;
    left: 45%;
    color: #fff;
    font-size: 39px;
}

.img-wrap{
    position: relative;
    padding-bottom: 60px;
}

.main-content{
    padding-top: 0;
}

.section-header{
    display: none;
}

.product-card {
    box-sizing: border-box;
    float: left;
    min-height: 1em;
    padding-left: 2em;
    vertical-align: top;
    width: 25%;
  }

 

  /* .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  } */