.col-title{
    position: absolute;
    top: 37%;
    left: 45%;
    color: #fff;
    font-size: 39px;
}

.img-wrap{
    position: relative;
    padding-bottom: 60px;
}

.main-content{
    padding-top: 0;
}

.section-header{
    display: none;
}