.pow-wrapper{
    background: #D7D9D2; 
    padding: 6rem 12rem;
}
    @media(max-width:520px){
        .pow-wrapper{
            padding: 2rem 1rem;
        }
       
    }
    @media(min-width:521px) and (max-width:1200px){
        .pow-wrapper{
            padding: 2rem 6rem;
        }

        
    }


.pow-heading{
    color: #353B35;
    font-family: Moranga;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
    text-align: center;
    line-height: 54px;

}
    @media(max-width:767px){
        .pow-heading{
            font-size: 30px;
            line-height:32px;
        }
       

    }

    @media(max-width:1200px){
        .pow-heading{
            padding-bottom:0;
        }
       
    }


.power-desc{
    color: #353B35;
    text-align: center;
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 25px;

}
    @media(max-width:767px){
        .power-desc{
            font-size: 16px;
            line-height:24px;
        }
      
    } 


.powBtn-wrp{
    position: relative;
}

.pow-btn{
    background: #A7693C;
    padding: 16px 52px;
    color: #FFF;
    font-family: Brice;
    font-size: 24px;
    font-weight: 600;
    line-height: 23px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    @media(max-width:767px){
        .pow-btn{
            font-size: 16px;
            line-height:22px;
            padding: 14px 32px;
           
        }
    }

    @media(max-width:320px){
        .pow-btn{
            left:15%;
        }   
    }


.power-list{
    display: grid;
    padding-top: 70px;
    column-gap: 90px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
    @media(max-width:767px){
        .power-list{
            column-gap: 70px;
            row-gap: 70px;
            grid-template-columns: 1fr 1fr;
            padding: 50px 25px;
        }
        
    }

    @media(min-width:768px) and (max-width:1200px){
        .power-list{
            column-gap: 60px;
            padding-bottom: 70px;
        }
       
    }


.power-title{
    color: #353B35;
    text-align: center;
    font-family: Brice;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
    @media(max-width:767px){
        .power-title{
            font-size: 15px;
            line-height:20px;
            padding-top: 10px;
        }
        
    }


.power-content{
    position: absolute;
    top: 106%;
    left: -11%;
}

.power-inner-flex{
    position: relative;
}