.product-detail{
    padding: 0 40px;
    display: flex;
    flex-basis: 50%; 
}

.product-info-right{
    width: 50%;
    padding: 0 50px;
}

.product-media-left {
    max-width: 50%;
    overflow: hidden;

} 


.option-swatch input{
  display: none;

}

.option-swatch.active{
  background-color: #a7693c;
    padding: 12px 15px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.option-swatch{
  cursor: pointer;
  padding: 12px 15px;
}

.product-option fieldset{
  border: none;
}

.quantity-selector-minus{
  cursor: pointer;
    accent-color: #A7693C;
    border: 1px solid #A7693C;
    text-align: center;
    font-size: 16px;
    width: 45px;
    padding: 10px;
    background: #fff;
}

.quantity-selector-plus{
  cursor: pointer;
    accent-color: #A7693C;
    border: 1px solid #A7693C;
    text-align: center;
    font-size: 16px;
    width: 45px;
    padding: 10px;
    background: #fff;
}

.quantity-selector-inputelector-{
  accent-color: #A7693C;
    border: 1px solid #A7693C;
    text-align: center;
    font-size: 16px;
    width: 45px;
    padding: 13px;
}
 .swiper-container {
    width: 100%;
    /* max-width: 940px; */
    position: relative;
 }

.slider-thumbnail{
  padding-top: 20px;
  overflow: hidden;
}

.swiper-button-next.swiper-button-disabled{
  opacity: 1.35 !important;

} .swiper-button-prev.swiper-button-disabled{
  opacity: 1.35 !important;
}

.slider-thumbnail .swiper-button-next{
  right: 0 !important;
}

.slider-thumbnail .swiper-button-prev{
  left: 0 !important;
}

.slider-thumbnail  .swiper-wrapper .swiper-slide{
    /* width: 25%;
    height: 100%;
    opacity: .5;
    overflow: hidden; */
    width: 170px;
    height: 115px;
    border: 1px solid #A7693C;
    overflow: hidden;
    opacity: .5;
}

.slider-thumbnail  .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.swiper-slide.swiper-slide-thumb-active {
    opacity: 1 !important;
}

.slider .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 455px;
    overflow: hidden;
}

.slider  .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.product-description{
    height: 50px;
    overflow: auto;
}

.prod-title{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.product-price{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.option-wrap{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

fieldset{
    border: 1px solid #A7693C;
    margin: 0;
    padding: 10px;
}

legend{
    font-weight: 700;
    font-size: 18px;
}

input{
    accent-color: #A7693C;
    border: 1px solid #A7693C;
    text-align: center;
    font-size: 16px;
}

label{
    font-size: 18px;
    font-size: 15px;
   
}

.cart-qty-flex{
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    border-bottom: 1px solid #A7693C;
    padding-bottom: 20px;
}

.btn{
    background-color: #A7693C;
}

.product-quantity label{
    font-size: 18px;
    font-weight: 700;
}

.icon-text-wrap{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.prod-recc{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    row-gap: 20px;
    border-bottom: 1px solid #A7693C;
}

/* product recommendation css */
.bundle-wrap{
    position: relative;
    left: 53%;
    padding-top: 20px;
}

.recc-text{
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
}

.subtext{
    color: #FF4B4B; 
    font-size: 14px;
}

.upsell-media{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.up_image{
    border: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.up-product-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 12px;
}

/* product recommendation css */

/* 5 icons section css */
.prod-icon{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 60px;
}

/* 5 icons section css ends here */

/* video section css starts here */
.video-sec-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    column-gap: 10px;
}

.container{
    padding: 0 40px;
}

.vid-heading{
     
        font-size: 44px; 
        font-weight: 700;
        text-align: center;
}

.prod-video{
    padding-bottom: 60px;
}

.prod-video .video-wrapper{
    padding-bottom: 0;
}

.video-image img{
  width: 100%;
}
/* video section css ends here */

/* blog section css */

.blog-list {
    display: flex;
    flex-wrap: wrap; 
    /* min-width: 1440px; */
  }
  
  .blog-grid {
    flex-basis: calc(31% - -28px); 
    margin: 15px; 
    box-sizing: border-box; 
  }

  .blog-desc{
      display: none;
  }

  .blog-readmore{
      display: none;
  }

  .blog-grid img{
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .blog-list :first-child{
      flex-basis: 62%;
  }

  .blog-list :last-child{
    flex-basis: 62%;
}

  a {
    position: relative; 
  }
  
  img {
    display: block; 
  }
  
  h2 {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    margin: 0; 
    color: #fff; 
    padding: 40px; 
    font-size: 32px;
  }
  
  /* blog section css ends here*/

  /* ingredients section css starts here */
  .key-ing-wrap-main{
    padding-top: 40px;
    position: relative;
  }

  .keyimg-text-wrap{
    padding: 20px 10px;
  }

  .key-heading{
    padding-bottom: 22px;
    padding-left: 14px;
  }

  .key-title{
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
  }

  .key-desc{
    font-size: 16px;
    text-align: left;
  }

  .key-btn{
    color: #A7693C;
    font-size: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
  }

  .key-ing-wrap{
    display: flex;
   justify-content: space-evenly;
    text-align: center;
    align-items: center;
    overflow: auto;
    column-gap: 20px;
  }

  .key-ing-container{
    background: #D7D9D1;
    /* width: 319px;
    height: 613px; */
  }

  .key-icon{
      display: inline;
      border-radius: 50%;
  }

  .key-icon-wrp{
    padding-top: 40px;
  }

  .swiper-button-next{
    right: 22px;
    left: auto;
    width: 50px;
    height: 50px;
  }

  .swiper-button-prev{
    left: 25px;
    right: auto;
    width: 50px;
    height: 50px;
  }
  .swiper-button-prev:after{
    display: none;
  }

  .swiper-button-next:after{
    display: none;
  }
  /* ingredients section css ends here */

  /* FAQ section css starts here */
  
  .faq-main{

    background: #D7D9D2;
    margin: 60px 0;
  }

  .faq-heading{
    color: #FFF;
    text-align: center;
    background: #A7693C;
    padding: 12px 0;
  }

  .faq-title{
      color: #000 !important;
      font-size: 24px;
      font-weight: 700;
  }

  .faq-desc{
      font-size: 16px;
  }

  .faq-main .container {
    margin: 0 auto;
    padding: 4rem;
    width:64rem
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #A7693C;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    /* border-bottom: 1px solid #A7693C; */
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #A7693C;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #A7693C;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #A7693C;
    border: 1px solid #A7693C;
  }
  
  /* .accordion button .accordion-title {
    padding: 1em 2em 1em 0;
  }
   */

   /* .ben-text .ben-desc p{
     padding:0 20px;
   } */

   .metafield-single_line_text_field{
     padding: 0 20px;
     padding-bottom: 10px;
     width: 50%;
   }
   /* .ben-desc .metafield-multi_line_text_field{
     padding: 0 20px;
   } */

   .metafield-single_line_text_field-array{
     display: flex;
     flex-wrap: wrap;
   }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 20em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    padding:0 20px;
    width: 95%;
   
  }
  /* faq section css ends here */

  /* product benefit css starts here */
   .ben-main{
    background: #D7D9D2;
    margin: 60px 0;
  }

  .accordion-title{
    color: #000 !important;
    font-size: 22px;
    font-weight: 700;
    display: block;
    width: 90%;
    padding: 0 20px;
}

.accordion-content p{
  margin: 0 0 10px !important;
}

  .ben-wrap{
      padding:5rem 13rem;
  }

  .accordion .ben-text button[aria-expanded='true'] {
    background: #A7693C;
    color: #fff;
    padding:20px;
  }

  .accordion .ben-text button .icon[aria-expanded='true']{
    right: 20px;
  }

  .accordion .ben-text button[aria-expanded='true'] .accordion-title p{
    color: #fff !important;
  }
 
  /* product benefit css ends here */


  /* product recc css starts here */
  .collection{
      width: 230px;
      height: 330px;
  }

  .coll_wrap{
      display: flex;
      justify-content: space-between;
        align-items: center;
  }

  .coll-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prod-recc-sec{
      margin-bottom: 150px;
  }

  .coll_title{
      padding-top: 15px;
  }
  .collection img{
      width: 100%;
      height: 100%;
  }
  /* prod recc section css ends here */

  /* poerful benefits css section starts here */
 

  .pow-ben-wrap{
    display: grid;
    padding: 3rem 0rem;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    column-gap: 30px;
    row-gap: 50px;
  }

  .pow-prod-only{
    background: #A7693C;
    padding: 4rem 6rem;
    color: white;
  }

  .ben-prod-title{
    color: #fff;
    font-size:25px ;
  }

  .pow-title{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
  }

  .pow-desc{
    color: #D7D9D2;
    font-size: 14px;
    width: 70%;

  }

  .ben-icon-main{
    background: #363836;
    padding: 3rem 5rem;
  }

  .pow-ben-wrap-main{
    position: relative;
  }

  .pow-image-right{
    transform: translate(-50%);
    top: 7%;
    position: absolute;
    right: 1%;
  }

  .pow-image-right img{
    max-width: 300px;
  }