.product-detail{
    padding: 0 40px;
    display: flex;
    flex-basis: 50%; 
}

.product-info-right{
    width: 50%;
    margin: 0 50px;
}

.product-media-left{
    max-width: 50%;
    overflow: hidden;

}

 img{
     /* width: 100%; */
 }

 .swiper-container {
    width: 100%;
    /* max-width: 940px; */
    position: relative;
 }

 /* .swiper-container.slider {
    height: 80vh;
} */

/* .slider-thumbnail {
    height: 20vh;
} */

.slider-thumbnail  .swiper-wrapper .swiper-slide{
    /* width: 25%;
    height: 100%;
    opacity: .5;
    overflow: hidden; */
    width: 170px;
    height: 115px;
    border: 1px solid #A7693C;
    overflow: hidden;
    opacity: .5;
}

.slider-thumbnail  .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.swiper-slide.swiper-slide-thumb-active {
    opacity: 1 !important;
}

.slider .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 455px;
    overflow: hidden;
}

.slider  .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.product-description{
    height: 50px;
    overflow: auto;
}

.prod-title{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.product-price{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.option-wrap{
    display: flex;
    column-gap: 40px;
}

fieldset{
    border: 1px solid #A7693C;
    margin: 0 0 20px;
    padding: 10px;
}

legend{
    font-weight: 700;
    font-size: 18px;
}

input{
    accent-color: #A7693C;
    border: 1px solid #A7693C;
    text-align: center;
    font-size: 16px;
}

label{
    font-size: 18px;
    font-size: 15px;
   
}

.cart-qty-flex{
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    border-bottom: 1px solid #A7693C;
    padding-bottom: 20px;
}

.btn{
    background-color: #A7693C;
}

.product-quantity label{
    font-size: 18px;
    font-weight: 700;
}

.icon-text-wrap{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.prod-recc{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    row-gap: 20px;
    border-bottom: 1px solid #A7693C;
}

/* product recommendation css */
.bundle-wrap{
    position: relative;
    left: 53%;
    padding-top: 20px;
}

.recc-text{
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
}

.subtext{
    color: #FF4B4B; 
    font-size: 14px;
}

.upsell-media{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.up_image{
    border: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.up-product-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 12px;
}

/* product recommendation css */

/* 5 icons section css */
.prod-icon{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px 0;
}

/* 5 icons section css ends here */

/* video section css starts here */
.video-sec-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
}

.container{
    padding: 0 40px;
}

.vid-heading{
     
        font-size: 44px; 
        font-weight: 700;
        text-align: center;
}

.prod-video{
    padding: 60px 0;
}

.prod-video .video-wrapper{
    padding-bottom: 0;
}
/* video section css ends here */

/* blog section css */

.blog-list {
    display: flex;
    flex-wrap: wrap; 
    min-width: 1440px;
  }
  
  .blog-grid {
    flex-basis: calc(30% - -27px); 
    margin: 10px; 
    box-sizing: border-box; 
  }

  .blog-desc{
      display: none;
  }

  .blog-readmore{
      display: none;
  }

  .blog-grid img{
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .blog-list :first-child{
      flex-basis: 60%;
  }

  .blog-list :last-child{
    flex-basis: 60%;
}

  a {
    position: relative; 
  }
  
  img {
    display: block; 
  }
  
  h2 {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    margin: 0; 
    color: #fff; 
    padding: 40px; 
    font-size: 32px;
  }
  
  /* blog section css ends here*/

  /* ingredients section css starts here */

  .key-title{
    font-size: 28px;
    font-weight: 700;
  }

  .key-desc{
    font-size: 16px;
    text-align: left;
  }

  .key-btn{
    color: #A7693C;
    font-size: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
  }

  .key-ing-wrap{
    display: flex;
   justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }

  .key-ing-container{
    background: #D7D9D1;
    width: 319px;
    height: 613px;
  }

  .key-icon{
      display: inline;
      border-radius: 50%;
  }

  .key-icon-wrp{
    padding-top: 40px;
  }

  /* ingredients section css ends here */

  /* FAQ section css starts here */
  
  .faq-main{

    background: #D7D9D2;
    margin: 60px 0;
  }

  .faq-heading{
    color: #FFF;
    text-align: center;
    background: #A7693C;
    padding: 12px 0;
  }

  .faq-title{
      color: #000 !important;
      font-size: 24px;
      font-weight: 700;
  }

  .faq-desc{
      font-size: 16px;
  }

  .faq-main .container {
    margin: 0 auto;
    padding: 4rem;
    width:59rem
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #A7693C;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    /* border-bottom: 1px solid #A7693C; */
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #A7693C;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #A7693C;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #A7693C;
    border: 1px solid #A7693C;
  }
  
  /* .accordion button .accordion-title {
    padding: 1em 2em 1em 0;
  }
   */
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  /* .accordion button[aria-expanded='true'] {
    color: #A7693C;
  } */
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
   
  }
  /* faq section css ends here */

  /* product benefit css starts here */
   .ben-main{
    background: #D7D9D2;
    margin: 60px 0;
  }

  .accordion-title{
    color: #000 !important;
    font-size: 24px;
    font-weight: 700;
}

  .ben-wrap{
      padding:5rem 13rem;
  }

  .accordion .ben-text button[aria-expanded='true'] {
    background: #A7693C;
    color: #fff;
  }

  .accordion .ben-text button[aria-expanded='true'] .accordion-title p{
    color: #fff !important;
  }
 
  /* product benefit css ends here */


  /* product recc css starts here */
  .collection{
      width: 230px;
      height: 330px;
  }

  .coll_wrap{
      display: flex;
      justify-content: space-between;
        align-items: center;
  }

  .coll-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prod-recc-sec{
      margin-bottom: 150px;
  }

  .coll_title{
      padding-top: 15px;
  }
  .collection img{
      width: 100%;
      height: 100%;
  }