.main_page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding:20px;
    padding: 20px 60px;
}

.success_wrp{
    background-color: black;
}

.heading{
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 70px;
}

.sub-heading{
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.proj-name{
    color: #fff;
}

.cat-name{
    color: #fff;
}